body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-point{
   padding: 0;
   margin: 0;
   text-decoration:none;
   list-style: none;
   box-sizing: border-box;
   
}
nav {
    background: tomato;
    height: 75px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 52px;
    margin: 0 5px;
    
}
nav ul li a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    
}


#name-color{
    color: gold;
}
h1{
    font-size: 60px;
}
h3{
    border: 5px 7px;
    font-size: 80px;
}
#food-ground{
    color: maroon;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(gold,red);
    color: white;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    
}
.section-width{
    width: 50%;
    padding: 20px;
}
.display-flexi{
    display: flex;
    margin: 0;

}
.section-width img{
    width: 70%;
    padding: 200px;
    border: 5px 5px;
    padding-right: 10px;
    padding-top: 10px;       
}
.first-banner{
    background-image: url(food-network-main/images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.section2-width{
    font-size: 20px;
    background-image: url(food-network-main/images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    padding-top:10px;
}
.recipies{
    padding: 20px 20px;
    width: 50%;
    text-align: center;
    
}  
.section2-width img{
    width: 40%;   
}

.section3-width{
    
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px goldenrod;
}
.recipies-name{
    color: slateblue;
    text-align: center;

}
.section3-width img{
    width: 80%;  
}
#img-border{
    padding: 17px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px white;
    border-radius: 25% ;
    
}
.footer{
    padding: 5px;
    color: lightcyan;
    text-align: center;
    background-image: linear-gradient(black,hotpink);
}
#footer-color{
    color:deepskyblue;
}
